*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
fonts/WenDingCuHei-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingTeHei-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/SIMSUN.ttf filter=lfs diff=lfs merge=lfs -text
fonts/dflikinghei.ttf filter=lfs diff=lfs merge=lfs -text
fonts/fangzhengheiti.ttf filter=lfs diff=lfs merge=lfs -text
fonts/stxihei.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingCSDaHeiFan-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingTeCuHeiJian-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingXinCuHei-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/dflihei2.ttf filter=lfs diff=lfs merge=lfs -text
fonts/dfhei.ttf filter=lfs diff=lfs merge=lfs -text
fonts/HanYiChaoCuHeiJian-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/msyh.ttf filter=lfs diff=lfs merge=lfs -text
fonts/TeCuHeiTi-2.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingCSDaHei-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/dfhei3.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingXinTeHei-1.ttf filter=lfs diff=lfs merge=lfs -text
fonts/WenDingCuHeiFan-1.ttf filter=lfs diff=lfs merge=lfs -text
data/huggingface-models filter=lfs diff=lfs merge=lfs -text
