aiohttp==3.8.4
aiosignal==1.3.1
argcomplete==2.1.2
arrow==1.2.3
async-timeout==4.0.2
attrs==23.1.0
b2==3.8.0
b2sdk==1.21.0
Brotli==1.0.9
cairocffi==1.5.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
ckip-transformers==0.3.4
click==8.1.3
clize==5.0.0
cmake==3.26.3
cnocr==2.2.2.3
cnstd==1.2.2
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
discourse==0.1.2
docopt==0.6.2
docutils==0.19
easyocr==1.6.2
filelock==3.12.0
flatbuffers==23.3.3
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
graphviz==0.8.4
hanziconv==0.3.2
huggingface-hub==0.14.1
humanfriendly==10.0
idna==3.4
imageio==2.28.0
importlib-resources==5.12.0
inflect==4.1.0
iteration-utilities==0.11.0
jieba==0.42.1
jieba-fast==0.53
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.2
lightning-utilities==0.8.0
lit==16.0.2
llvmlite==0.39.1
logfury==1.0.1
MarkupSafe==2.1.2
matplotlib==3.7.1
merkl==0.5
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mutagen==1.46.0
mxnet==1.9.1
networkx==3.1
ninja==1.11.1
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
od==2.0.2
onnx==1.13.1
onnxruntime==1.14.1
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
packaging==23.1
pandas==2.0.1
pangocairocffi==0.7.0
pangocffi==0.11.0
phx-class-registry==4.0.5
Pillow==9.5.0
Polygon3==3.0.9.1
protobuf==3.20.3
pycairo==1.23.0
pyclipper==1.3.0.post4
pycparser==2.21
pycryptodomex==3.17
PyMatting==1.1.8
pyparsing==3.0.9
pyperclip==1.8.2
python-bidi==0.4.2
python-dateutil==2.8.2
pytorch-lightning==2.0.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.3.23
requests==2.29.0
rst2ansi==0.1.5
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
sentence-transformers==2.2.2
sentencepiece==0.1.98
shapely==2.0.1
sigtools==4.0.1
six==1.16.0
stdlib-list==0.8.0
sympy==1.11.1
tabulate==0.9.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.13.3
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tqdm==4.65.0
transformers==4.28.1
triton==2.0.0
typing_extensions==4.5.0
tzdata==2023.3
Unidecode==1.3.6
urllib3==1.26.15
wcwidth==0.2.6
websockets==11.0.2
webvtt-py==0.4.6
word-forms==2.1.0
wordfreq==3.0.3
yarl==1.9.2
yt-dlp==2023.3.4
zhon==1.1.5
zipp==3.15.0
