merkl
numpy
opencv-python==4.5.4.60
hanziconv
torchmetrics
torch
torchvision==0.10.0
transformers==4.8.2
jieba_fast
mxnet
webvtt-py
zhon
wordfreq
scikit-learn
jieba
pyperclip
sentence-transformers==2.0.0
iteration_utilities
word_forms
ckip_transformers==0.2.7
yt-dlp
b2
pymatting
easyocr==1.4.1
pycairo
pangocairocffi
scipy
discourse
cnocr==1.2.2
