merkl
numpy
opencv-python==4.5.4.60
hanziconv
torchmetrics
torch
torchvision==0.10.0
transformers
jieba_fast
mxnet
webvtt-py
zhon
wordfreq
scikit-learn
jieba
pyperclip
sentence-transformers
iteration_utilities
word_forms
ckip_transformers
yt-dlp
b2
pymatting
easyocr==1.4.1
pycairo
pangocairocffi
scipy
discourse
cnocr==1.2.2
