.lazybug {
  all: initial;
}

lazybug::before,
lazybug::after,
lazybug *::before,
lazybug *::after {
  all: unset;
}


/*
#lazybugroot {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}
*/
